{% extends 'base.html' %}
{% block title %}Kate Barouch{% endblock %}

{% block body %}

 <!-- ======= Hero Section ======= -->
 <section id="contacts" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
      <h1>Contact Me</h1>

        <br>
        <br>
      
      <div class="social-links">
        <a href="https://github.com/katebarouch" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/kate-barouch/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="mailto:kate.barouch@gmail.com" class="email"><i class="bx bx-mail-send"></i></a>
      </div>
    </div>
  </section>

  <!-- End Hero -->

{% endblock %}

