{% extends 'base.html' %}
{% block title %}Paint by AI{% endblock %}

{% block body %}

<style>
    body {
        background-color: #fbf9ec;
        margin: 0;
        padding: 0;
    }
</style>

 <!-- ======= Hero Section ======= -->
 <section id="hero6" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
      <h1>Contact Info</h1>
      <a class="btn-get-started scrollto">Contact Info</a>
    </div>
  </section>
  <!-- End Hero -->


{% endblock %}