{% extends 'base.html' %}
{% block title %}Paint by AI{% endblock %}

{% block body %}

<style>
  body {
      background-color: #fbf9ec;
      margin: 0;
      padding: 0;
  }
</style>

 <!-- ======= Hero Section ======= -->

 <section id="hero3" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
      <h1>The Paint by AI Gallery</h1>
      <h2>A realm where enchantment dances upon the canvas and brings to life to your imagination.</h2>
      <a href="#gallery" class="btn-get-started scrollto" id="gallery-button">Ready to Enter?</a>
    </div>
  </section>
  
  <!-- End Hero -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div>
      <h1 id="loading-text"></h1>
    </div>
    <div class="grid-container">
      {% for painting in paintings %}
      <a href="/finalproduct/{{ painting.painting_id }}">
        <div id="gallery_img" style="width: 15vw; height: 15vw; background-image: url('/static/images/{{ painting.vectorized_img }}'); background-size: cover;"></div>
      </a>
      {% endfor %}
    </div>
  </section>
  
  <!-- End Gallery -->

  <script>
    var bellButton = document.getElementById('gallery-button');
    var loadingText = document.getElementById('loading-text');
  
    bellButton.addEventListener('click', function() {
      loadingText.style.display = 'block';
  
      var texts = [
        "Dalle is crafting your masterpiece...",
        "Python algorithms are weaving your paint-by-number template...",
        "ChatGPT is translating your mystical hex codes to enchanting colors...",
        "Magical brushes are preparing to dance on the canvas...",
        "The art studio is buzzing with mystical energy...",
        "Whispers of ancient artists guide the creative process..."
      ];
  
      var currentIndex = 0;
  
      function changeText() {
        loadingText.textContent = texts[currentIndex];
        currentIndex = (currentIndex + 1) % texts.length;
      }
  
      // Change the loading text every 3 seconds
      var intervalId = setInterval(changeText, 3000);
    });
  </script>

{% endblock %}