{% extends 'base.html' %}
{% block title %}A Life Well Travelled{% endblock %}

{% block body %}

<section id="title" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">

        <h1 class="title">SOFTWARE ENGINEER</h1>

        <h3>& amateur photographer</h3>

        <a href="#skills" class="btn-get-started scrollto">learn about me</a>
    </div>
</section>

<br>
<br>

<section id="skills" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <h1 class="title">TECH STACK</h1>
        <div class="skills-container" id="skills-container">
            <div class="skill-set">
                <h3>Languages</h3>
                <h4>Python, JavaScript (AJAX, JSON, React), HTML, CSS, SQL</h4>
            </div>
            <div class="skill-set">
                <h3>Frameworks & Libraries</h3>
                <h4>Flask, jQuery, Bootstrap, Jinja, openAI, PIL, Svgwrite, Svgpathtools, Scikit</h4>
            </div>
            <div class="skill-set">
                <h3>Industry Tools</h3>
                <h4>PostgreSQL, Git, GitHub</h4>
            </div>
            <br>
        </div>
        <a href="#motion" class="btn-get-started scrollto">see my life in motion</a>
    </div>
</section>

<section id="motion" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <h1>MY LIFE IN MOTION</h1>
        <div class="path-container" id="path-container">
            <div class="life-event" data-description="Hometown...">
                <div class="description-box">
                    <h3 class="life-title">roots</h3>
                    <p>Born in the rolling hills of SF's East Bay, I spent a lot of time outside and had a deep curiosity about the world.</p>
                </div>
            </div>
            <div class="life-event" data-description="College...">
                <div class="description-box">
                    <h3 class="life-title">education</h3>
                    <p>This curiosity is what drove me to pursue a degree in Biology at Cal Poly SLO <br>  
                    I spent my time hiking, leading science workshops through the school, and doing research.</p>
                </div>
            </div>
            <div class="life-event" data-description="Medical Assistant...">
                <div class="description-box">
                    <h3 class="life-title">medicine</h3>
                    <p>After graduation, I explored the medical field as a medical assistant. It was a valuable experience, even though I realized it wasn't my long-term passion.</p>
                </div>
            </div>
            <div class="life-event" data-description="Wine Industry...">
                <div class="description-box">
                    <h3 class="life-title">winemaking</h3>
                    <p>In 2020, I transitioned to the wine industry, working behind the scenes as a wine chemist. Those three enriching years taught me a lot, but I also recognized the need for a different path.</p>
                </div>
            </div>
            <div class="life-event" data-description="Self learning...">
                <div class="description-box">
                    <h3 class="life-title">coding</h3>
                    <p>Early 2023, my interest in technology led me to start learning Python. It was thrilling to finally have the tools to bring my project ideas to life.</p>
                </div>
            </div>
            <div class="life-event" data-description="Hackbright...">
                <div class="description-box">
                    <h3 class="life-title">bootcamp</h3>
                    <p>April of 2023, I enrolled in Hackbright Academy. It was a rigorous 3-month journey where I honed my skills in multiple programming languages and frameworks.</p>
                </div>
            </div>
            <div class="life-event" data-description="Next steps...">
                <div class="description-box">
                    <h3 class="life-title">the road ahead</h3>
                    <p>I'm now gearing up for a career in tech as a Software Engineer, and am looking for the right role.</p>
                </div>
            </div>
        </div>
        <a href="#resume" class="btn-get-started scrollto">Contact & Download Resume</a>
    </div>
</section>

<section id="resume" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <div>
            <h1>Contact & Resume</h1>
            <a href="/portfolio" class="btn-get-started scrollto">Portfolio</a>
            <a href="/contact" class="btn-get-started scrollto">Contact</a>
            <a href="static/maxim-pro/assets/img/Resume%207.3.23.pdf" class="download-button" download>Download Resume</a>
        </div>
    </div>
</section>       
<script src="static/maxim-pro/assets/js/scripts.js"></script>

<style>
    body {
        background-color: #fbf9ec;
    }
</style>

{% endblock %}