{% extends 'base.html' %}
{% block title %}A Life Well Travelled{% endblock %}

{% block body %}



    <!-- ======= Hero Section ======= -->

    <body>

        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
              <h1>A Life Well Travelled</h1>
            </div>
          </section>
        <section>
            <div id="root"></div>
            <script src="/static/js/main.js"></script> 
        </section>
    </body>

{% endblock %}