{% extends 'base.html' %}
{% block title %}A Life Well Travelled{% endblock %}

{% block body %}

<section id="title" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <video autoplay muted loop id="heroVideo">
            <source src="static/maxim-pro/assets/img/coding_movie.mov" type="video/mp4">
        </video>
        <a href="#aboutme" class="btn-get-started scrollto"> enter </a>
    </div>
</section>

<br>
<br>

<section id="aboutme" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <img src="static/maxim-pro/assets/img/selfie.png" alt="Selfie" class="hero-image">


        <h2 class="title">SOFTWARE <br> ENGINEER</h2>

        <a href="#skills" class="btn-get-started scrollto">view stack</a>
    </div>
</section>

<section id="skills" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <h1 class="title">TECH STACK</h1>
        <div class="skills-container" id="skills-container">
            <div class="skill-set">
                <h3>Coding Languages</h3>
                <br>
                <h4>Python, JavaScript (AJAX, JSON, React), HTML, CSS, SQL</h4>
            </div>
            <div class="skill-set">
                <h3>Frameworks & Libraries</h3>
                <br>
                <h4>Flask, jQuery, Bootstrap, Jinja, openAI, PIL, Svgwrite, Svgpathtools, Scikit</h4>
            </div>
            <div class="skill-set">
                <h3>Industry Tools</h3>
                <br>
                <h4>PostgreSQL, Git, GitHub</h4>
            </div>
            <br>
        </div>
        <a href="#contact" class="btn-get-started scrollto">contact</a>
    </div>
</section>
<section id="contact" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
        <div>
            <a href="static/maxim-pro/assets/img/KateBarouchResume.pdf" class="btn-get-started scrollto" download>Resume</a>
            <a href="/portfolio" class="btn-get-started scrollto">Portfolio</a>
            <a href="/contact" class="btn-get-started scrollto">Contact</a>
        </div>
    </div>
</section>


<script src="static/maxim-pro/assets/js/scripts.js"></script>



{% endblock %}