{% extends 'base.html' %}
{% block title %}Kate Barouch{% endblock %}

{% block body %}
 <!-- ======= Hero Section ======= -->

 <section id="hero5" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
      <h1>Portfolio</h1>
      <a href="#portfolio" class="btn-get-started scrollto">Click through links to my work below! </a>
    </div>
  </section>
  
  <!-- End Hero -->

  <div class = portfolio id = portfolio>
  <div class="grid-container">

    <a href="http://www.paintbyainumbers.com" class="project-link">
      <div class="project-image" style="width: 30vw; height: 30vw; background-image: url('static/maxim-pro/assets/img/paintbyai.png'); background-size: cover;"></div>
      <div class="project-title">Paint by AI</div>
    </a>

    <!-- <a href="https://github.com/yourusername/project2" target="_blank" class="project">
        <img src="path/to/image2.jpg" alt="Project 2 description">
    </a>

    <a href="https://example-website3.com" target="_blank" class="project">
        <img src="path/to/image3.jpg" alt="Project 3 description">
    </a> -->


</div>
</div>

{% endblock %}