{% extends 'base.html' %}
{% block title %}Paint by AI{% endblock %}

{% block body %}
 <!-- ======= Hero Section ======= -->

 <section id="hero5" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left aos-init aos-animate" data-aos="fade-up">
      <h1>Portfolio</h1>
      <h2> Click through my portfolio gallery below to be taken to examples of my work. </h2>
      <a href="#portfolio" class="btn-get-started scrollto">Ready to Enter?</a>
    </div>
  </section>
  
  <!-- End Hero -->

  <div class="grid-container">

    <!-- Example project div -->
    <a href="https://github.com/yourusername/project1" target="_blank" class="project">
        <img src="path/to/image1.jpg" alt="Project 1 description">
    </a>

    <a href="https://github.com/yourusername/project2" target="_blank" class="project">
        <img src="path/to/image2.jpg" alt="Project 2 description">
    </a>

    <a href="https://example-website3.com" target="_blank" class="project">
        <img src="path/to/image3.jpg" alt="Project 3 description">
    </a>


</div>

{% endblock %}